/////////////////////////////////////////////////////////////////////////////
// HEADER AND NAVBAR

.nav-menu{
    height: 5rem;
    position: fixed;
    right: 20px;
    top: 20px;
}

.fa-window-close{
    font-size: 4rem;
    color: rgb(133, 0, 104);

    position: absolute;
    top: 1.8rem;
    right: 1.8rem;
}

.header{
    background-color: var(--orange-header);
    height: 100%;
    width: 87%;
    
    position: fixed;
    right: -800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all .4s ease;
}

.nav-show{
    right: 0px;
}

.nav-bar{
    height: 100%;

    &__list{
        height: inherit;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.nav-link{
    text-decoration: none;
    margin: 0rem 18rem 0rem 0rem;

    color: white;
    font-size: 3.5rem;

    &:hover{
        color: rgb(111, 82, 240);
    }
}

/////////////////////////////////////////////////////////////////////////////
// HOME SECTION

.home{
    background-image: url("/img/pexels-vlad-chețan-3842752.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

/////////////////////////////////////////////////////////////////////////////
// ABOUT SECTION

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
    height: 100vh;

    &__right-content{
        height: 53%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__description{
        padding-left: 2rem;
        padding-right: 2rem;
        color: white;
        text-align: justify;
    }

    &__collage{

        height: auto;
        width: 90%;

        display: grid;
        grid-template-areas: 
        "img1 img1 img2 img2"
        "img3 img3 img2 img2";

        align-items: stretch;
        grid-gap: 1rem;

        &-img1{
            max-width: 100%;
            height: auto;
            grid-area: img1;
        }
        &-img2{
            max-width: 100%;
            height: auto;
            grid-area: img2;
        }
        &-img3{
            max-width: 100%;
            height: auto;
            grid-area: img3;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            font-size: 4.5rem;
            color: var(--orange-header);
        }
        h4{
            font-weight: 600;
            color: white;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////
// PRICING SECTION

.pricing{
    height: fit-content;
    

    &__subsection{
        height: 100vh;
        display: flex;
        flex-direction: column;

        &-presentation{
            font-size: 2.5rem;
            color: white;
            background-color: black;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            height: 50%;
            padding: 1rem;
        }

        &-description{
            padding: 1.5rem;
            display: flex;
            height: 50%;
            flex-direction: column;
            justify-content: space-around;

            h1{
                font-size: 4rem;
            }

            p{
                font-size: 2.5rem;
            }

            a{
                color: black;
                font-weight: 500;
            }
        }
    }

}

.product1-img{
    height: 32rem;
}
.product2-img{
    height: 32rem;
}
.product3-img{
    height: 28rem;
}

/////////////////////////////////////////////////////////////////////////////
// TOUR SECTION

.tour{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100vh;

    h1{
        color: white;
        font-size: 4rem;
    }
}

/////////////////////////////////////////////////////////////////////////////
// CONTACT SECTION

.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-image: url("/img/contact-bg.png");
    background-position: center;
    background-size: cover;

    h1{
        font-size: 2.7rem;
        color: var(--orange-header);
        margin-top: 4rem;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
        width: 100%;

        &-funame, &-fEmail{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
        }

        &-label{
            padding: 3rem 0rem 1rem 0;
            font-weight: bolder;
        }

        .lemail{
            padding-top: 1.65rem;
        }

        &-INPT{
            height: 3.5rem;
            padding: .6rem;
            width: 100%;

            font-size: 1.8rem;
            font-family: 'Montserrat', sans-serif;
            border: 1.8px solid rgb(87, 140, 253);
        }

        &-message{
            display: flex;
            flex-direction: column;
            width: 90%;
        }

        &-sBTN{
            padding: 2rem 36.5%;
            border-radius: 10px;
            border: none;
            background: linear-gradient(to top right, #521FAF, #FF0E8D);

            font-size: 1.8rem;
            font-weight: bolder;
            color: white;
        }
    }
}

.mandatory-field{
    color: rgb(255, 81, 0);
}

.message-area{
    border: 1.8px solid rgb(87, 140, 253);
    padding: .5rem;
}

/////////////////////////////////////////////////////////////////////////////
// FOOTER

.footer{
    height: 25vh;
    width: 100%;
    background-color: rgb(54, 54, 54);

    display: flex;
    justify-content: center;
    align-items: center;

    h3{
        color: white;
    }
}



